doctype html
html
    head
        style
            include style.css
    body
        div#header Магазин духів "Ромашка"

        block content
        block xxx

        div.footer Щиро ваші Romashka Inc.
            br 
            | Best regards
            
            a(href=frontendURL) Hebron Rocket Course